.container {
    margin: 20px;
    padding: 10px;
    border: 1px solid azure;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.container:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.notebook {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px;
}

.notebook-info {
    font-weight: bold;
    font-size: 1.2rem;
}

.note {
    padding: 5px;
    min-height: 150px;
    min-width: 200px;
    background-color: azure;
    border: 1px solid silver;
    border-radius: 2px;
}

.note-title {
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.message {
    background-color: darkturquoise;
    padding: 5px 20px;
    text-align: center;
    transition: 0.2s;
}

.message:hover {
    background-color: turquoise;
}

.message-text {
    width: 100%;
    text-align: center;
    color: white;
}

.message-btn {
    float: right;
    padding: 0px 5px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
}

.message-btn:hover {
    color: white;
}

.navbar-nb-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    color: rgba(255,255,255,.75);
}

.unload-btn {
    margin-left: 10px;
}